body {
  color: #1d4d4f;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.weather-app {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-style: solid;
  border-radius: 5px;
  border: #dfe9f3;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px auto;
  max-width: 650px;
  padding: 10px;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 650px;
}

.date {
  font-size: 15px;
  margin-bottom: 0;
  text-align: left;
}

.change-city {
  border-color: #dfe9f3;
  border-width: 1px;
  font-size: 15px;
  text-align: right;
}

.search-button {
  background: white;
  border-color: #dfe9f3;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  color: #1d4d4f;
  font-size: 15px;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background: whitesmoke;
}

h1 {
  font-size: 23px;
  padding-top: 40px;
}

.details {
  font-size: 12px;
}

.temperature {
  color: #357376;
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
}

.temperature a {
  font-size: 20px;
  vertical-align: 57px;
}

a {
  color: #357376;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #204749;
}

.feels-like {
  font-size: 12px;
}

.temperature2 {
  color: #357376;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 15px;
}

.days {
  font-size: 15px;
  padding-top: 40px;
}

.icons {
  color: #6ba8a9;
  font-size: 47px;
}

.source {
  font-size: small;
  text-align: left;
}

.source-link {
  text-decoration: underline;
}
